.shiny {
    position: relative;
    overflow: hidden;
}

.shiny:after {
    animation: shine 2s ease-in-out 0s 1 normal forwards;
    /* animation: shine 5s ease-in-out normal; */
    animation-fill-mode: forwards;  
    content: "";
    position: absolute;
    top: -120%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(56, 178, 172, 0.2) 0%,
      rgba(56, 178, 172, 0.2) 77%,
      rgba(56, 178, 172, 0.4) 92%,
      rgba(56, 178, 172, 0.0) 100%
    );
}

@keyframes shine{
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
  }